@{
    ViewBag.Title = "Consumption Display";
    Layout = null;

    var list = ViewBag.List;
}

@model MVC_Test.Models.Consumption


@for (int i = 0; i < list.Count; i++)
{
    <div style="text-align:center;">
        @list[i].ToString()
    </div>
}
<form style="text-align:center;" ,method="get" action="/Home/Index">
    <button type="submit" class="btn btn-primary">返回</button>
</form>
