@{
    ViewBag.Title = "Consumption Insert";
    Layout = null;
}

@model MVC_Test.Models.Consumption


<form style="text-align:center;" ,method="get" action="/Home/Record">
    <button type="submit" class="btn btn-primary">新增消費紀錄</button>
</form>

<form style="text-align:center;" ,method="get" action="/Home/Display">
    <button type="submit" class="btn btn-primary">顯示消費紀錄</button>
</form>
